﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width" />
    <title>iNIS</title>

    <link rel="stylesheet" type="text/css" href="~/Content/Webix/skins/aircompact.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Webix/webix-site.css" />

    <script src="~/Scripts/Webix/webix_debug.js"></script>
    <script src="~/Scripts/Webix/webix_extension.js"></script>
    <script src="~/Scripts/Webix/skin.js"></script>
    <script src="~/Scripts/Webix/i18n/ru.js"></script>
</head>
<body>

    <script src="~/Scripts/require.js" data-main="Scripts/js/RequireJSConfig"></script>
    <script>
        //DevExpress.ui.themes.current("dx.generic.softblue.custom"); // Загрузка тем css
        //DevExpress.ui.themes.current("dx.generic.dark.custom");
        //require(["mainform"]);
        //webix.debug = true;
        require(["webix/application"]);
    </script>

</body>
</html>
