﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test webix components</title>
    
    <script type="text/javascript" src="~/Scripts/Webix/webix_debug.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Webix/webix.css"/>
    <link rel="stylesheet" type="text/css" href="~/Content/Webix/skins/compact.css"/>
    <script src="~/Scripts/Webix/i18n/ru.js"></script>
</head>
<body>
<script src="~/Scripts/require.js" data-main="../Scripts/js/TestRequireJSConfig"></script>
<script>
    require(["TestApp"]);
</script>
</body>
</html>
