﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HIS.Web.App</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    
    <!--ionicons-->
    <link rel="stylesheet" type="text/css" href="~/Content/ionicons.min.css" />

    @Styles.Render("~/Content/DevExtremeBundle")
    @Styles.Render("~/Content/bundle")
    @Scripts.Render("~/Scripts/bundle")

    <link rel="dx-theme" data-theme="dx.generic.softblue.custom" href="~/Content/dx.generic.softblue.custom.css" data-active="true">
    @*<link rel="dx-theme" data-theme="dx.generic.softblue.custom" href="~/Content/dx.generic.dark.custom.css" rel="stylesheet" data-active="true" />*@
    <!--link rel="dx-theme" data-theme="dx.contrast.compact" href="~/Content/dx.contrast.compact.css" data-active="true" /-->

    @Scripts.Render("~/Scripts/DevExtremeBundle")     

</head>

<body class="dx-viewport">

<div class="his-container" id="mainFormContext">
    @RenderBody()
</div>

</body>

</html>