﻿body, html {
    margin: 0px;
    padding: 0px;
    height: 95%;
}

.his-table {
    display: table;
}

.his-row {
    display: table-row;
}

.his-cell {
    display: table-cell;
}

.his-container {
    height: 100%;
}

.his-mainMenu {
    padding-left: 15px;
    padding-right: 15px;
}

.his-mainToolBar {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.his-mainTabs {
    display: flex;
    align-items: stretch;
    width: 100%;
    padding-top: 0px;
    padding: 0px;
}

#his-module-tabs {
    border: 1px;
    border-color: red;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.his-tab-modules {
    flex: 0 1 0%;
    display: table;
}

    .his-tab-modules .dx-empty-message {
        position: absolute;
        height: 40px;
        width: 100%;
        line-height: 40px;
        text-align: center;
        vertical-align: middle;
    }

.his-tab-button-content .dx-button-content {
    padding: 2px;
}

.his-tab-button-content .dx-icon {
    width: 12px;
    height: 12px;
}

.his-div-hidden {
    display: none;
}

.his-module-page {
    width: 100%;
    height: inherit;
}


.tab-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    z-index: 2;
}


    .tab-container .dx-tabs-wrapper {
        display: block;
        height: 43px;
    }



    .tab-container .dx-item {
        padding: 9px 20px;
        position: relative;
    }

        .tab-container .dx-item.dx-tab-selected::before {
            content: "";
            display: block;
            position: absolute;
            height: 1px;
            left: 0px;
            right: 0px;
            bottom: -1px;
            z-index: 2;
            background: rgb(255, 255, 255);
        }

        .tab-container .dx-item.dx-tab-selected::after {
            border: 1px solid rgb(51, 122, 183);
        }

    .tab-container .tab-body {
        flex-grow: 2;
        display: flex;
        align-self: stretch;
        overflow: auto;
        position: relative;
        border: 1px solid rgb(51, 122, 183);
        padding: 15px;
        margin-top: -1px;
        z-index: 1;
        overflow-x: hidden;
    }

    .tab-container .dx-toolbar-item {
        padding: 0 5px 0 0;
    }

.his-body-area {
    display: flex;
    align-self: stretch;
    padding: 15px;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.his-tree-area {
    width: 450px;
    margin-right: 1px;
    border: 1px solid rgb(51, 122, 183);
}


/*.dx-command-edit .dx-link {
    text-decoration: none;
    font-size: 18px;
    margin: 0 3px;
}

.dx-command-edit .dx-link:hover {
     opacity: 0.8;
}

#select-position {
    display: inline-block;
    vertical-align: middle;
}

.select-position span {
    vertical-align: middle;
    margin-right: 10px;
}*/


.his-searchOption {
    border: 1px;
    border-style: dashed;
    padding: 3px;
    vertical-align: middle !important;
}

.his-searchLine {
    margin-top: 3px;
}

.his-searchGrid {
    margin-top: 3px;
    border: 1px;
    border-style: dashed;
}


/*.popupSystemSearchDialog .dx-popup-content {
    display: flex;
}*/

.module-content-page-class {
    height: 100%;
    position: relative;
}

#legal-persons-form-container-id .dx-toolbar {
    height: 50px;
}

.his-markers-container {
    position: relative;
}

.his-marker-grid {
    /*position:absolute;*/
    height: 100%;
    width: 100%;
}

/*
.dx-command-edit .dx-link {
    text-decoration: none;
    font-size: 18px;
    margin: 0 3px;
}

.dx-command-edit .dx-link:hover {
     opacity: 0.8;
}

#select-position {
    display: inline-block;
    vertical-align: middle;
}

.select-position span {
    vertical-align: middle;
    margin-right: 10px;
}
*/

/*splitter*/
.his-view-flex-master-hs {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    height: 100%;
}

.his-view-flex-master-vs {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    height: 100%;
}

.his-view-flex-header {
    flex: 0 0 auto;
    /* no grow no shrink */
    background: #dcdede;
    height: 36px;
}

.his-view-flex-header-tab {
    flex: 0 0 auto;
    /* no grow no shrink */
    background: #ccc;
    height: 50px;
}

.his-view-flex-content-hs {
    /* grow and shrink vertically */
    flex: 1 1 auto;
    /* new horizontal flex container */
    display: flex;
    flex-direction: column;
    /* IMPORTANT: Required for FireFox
          to ensure vertical sizing is constrained.
          Not sure why this is required - it should
          be inherited.
       */
    overflow: auto;
}

.his-view-flex-content-vs {
    /* grow and shrink vertically */
    flex: 1 1 auto;
    /* new horizontal flex container */
    display: flex;
    flex-direction: row;
    /* IMPORTANT: Required for FireFox
          to ensure vertical sizing is constrained.
          Not sure why this is required - it should
          be inherited.
       */
    overflow: hidden;
}

.his-view-flex-content-top {
    /* should stay fixed except for resizing  */
    flex: 0 0 auto;
    /*width: 300px;*/
    height: 300px;
    background: #ccc;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.his-view-flex-content-left-fix {
    /* should stay fixed except for resizing  */
    flex: 0 0 auto;
    width: 300px;
    background: #ccc;
    /*overflow: auto;*/
    -webkit-overflow-scrolling: touch;
}

.his-view-flex-content-left {
    /* should stay fixed except for resizing  */
    flex: 1 1 auto;
    background: #ccc;
    /*overflow: auto;*/
    -webkit-overflow-scrolling: touch;
}

.his-view-flex-vs-splitter-hs {
    /* should stay fixed size */
    flex: 0 0 auto;
    height: 5px;
    cursor: row-resize;
    position: relative;
    /*background: #535353 url(https://assets.codepen.io/assets/editor/handle-horz.png) center center no-repeat;*/
    background: #c0c0c0;
}

.his-view-flex-vs-splitter-vs {
    /* should stay fixed size */
    flex: 0 0 auto;
    width: 5px;
    cursor: col-resize;
    position: relative;
    /*background: #535353 url(https://assets.codepen.io/assets/editor/handle-horz.png) center center no-repeat;*/
    background: #c0c0c0;
}

.his-view-flex-content-bottom {
    /* grow & shrink horizontally */
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: auto;
    background: #ccc;
    -webkit-overflow-scrolling: touch;
}

.his-view-flex-content-right-fix {
    /* grow & shrink horizontally */
    flex: 0 0 auto;
    width: 300px;
    /*overflow: auto;*/
    background: #ccc;
    -webkit-overflow-scrolling: touch;
}

.his-view-flex-content-right {
    /* grow & shrink horizontally */
    flex: 1 1 auto;
    /*overflow: auto;*/
    background: #ccc;
    -webkit-overflow-scrolling: touch;
}

.his-splitter-img-vertical {
    height: 50px;
    width: 5px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    background-image: radial-gradient(circle 3px at 25% 5%, #666666 1.5px, transparent 2px), radial-gradient(circle 3px at 75% 15%, #666666 1.5px, transparent 2px), radial-gradient(circle 3px at 25% 25%, #666666 1.5px, transparent 2px), radial-gradient(circle 3px at 75% 35%, #666666 1.5px, transparent 2px), radial-gradient(circle 3px at 25% 45%, #666666 1.5px, transparent 2px), radial-gradient(circle 3px at 75% 55%, #666666 1.5px, transparent 2px), radial-gradient(circle 3px at 25% 65%, #666666 1.5px, transparent 2px), radial-gradient(circle 3px at 75% 75%, #666666 1.5px, transparent 2px), radial-gradient(circle 3px at 25% 85%, #666666 1.5px, transparent 2px), radial-gradient(circle 3px at 75% 95%, #666666 1.5px, transparent 2px);
}

    .his-splitter-img-vertical:hover,
    .his-splitter-img-vertical:active {
        background-image: radial-gradient(circle 3px at 25% 5%, #000000 1.5px, transparent 2px), radial-gradient(circle 3px at 75% 15%, #000000 1.5px, transparent 2px), radial-gradient(circle 3px at 25% 25%, #000000 1.5px, transparent 2px), radial-gradient(circle 3px at 75% 35%, #000000 1.5px, transparent 2px), radial-gradient(circle 3px at 25% 45%, #000000 1.5px, transparent 2px), radial-gradient(circle 3px at 75% 55%, #000000 1.5px, transparent 2px), radial-gradient(circle 3px at 25% 65%, #000000 1.5px, transparent 2px), radial-gradient(circle 3px at 75% 75%, #000000 1.5px, transparent 2px), radial-gradient(circle 3px at 25% 85%, #000000 1.5px, transparent 2px), radial-gradient(circle 3px at 75% 95%, #000000 1.5px, transparent 2px);
    }

.his-splitter-img-horizontal {
    height: 5px;
    width: 50px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    background-image: radial-gradient(circle 3px at 5% 25%, #666666 1.5px, transparent 2px), radial-gradient(circle 3px at 15% 75%, #666666 1.5px, transparent 2px), radial-gradient(circle 3px at 25% 25%, #666666 1.5px, transparent 2px), radial-gradient(circle 3px at 35% 75%, #666666 1.5px, transparent 2px), radial-gradient(circle 3px at 45% 25%, #666666 1.5px, transparent 2px), radial-gradient(circle 3px at 55% 75%, #666666 1.5px, transparent 2px), radial-gradient(circle 3px at 65% 25%, #666666 1.5px, transparent 2px), radial-gradient(circle 3px at 75% 75%, #666666 1.5px, transparent 2px), radial-gradient(circle 3px at 85% 25%, #666666 1.5px, transparent 2px), radial-gradient(circle 3px at 95% 75%, #666666 1.5px, transparent 2px);
}

    .his-splitter-img-horizontal:hover,
    .his-splitter-img-horizontal:active {
        background-image: radial-gradient(circle 3px at 5% 25%, #000000 1.5px, transparent 2px), radial-gradient(circle 3px at 15% 75%, #000000 1.5px, transparent 2px), radial-gradient(circle 3px at 25% 25%, #000000 1.5px, transparent 2px), radial-gradient(circle 3px at 35% 75%, #000000 1.5px, transparent 2px), radial-gradient(circle 3px at 45% 25%, #000000 1.5px, transparent 2px), radial-gradient(circle 3px at 55% 75%, #000000 1.5px, transparent 2px), radial-gradient(circle 3px at 65% 25%, #000000 1.5px, transparent 2px), radial-gradient(circle 3px at 75% 75%, #000000 1.5px, transparent 2px), radial-gradient(circle 3px at 85% 25%, #000000 1.5px, transparent 2px), radial-gradient(circle 3px at 95% 75%, #000000 1.5px, transparent 2px);
    }
/*end splitter*/


.his-view-fulltextsearch-width.dx-overlay-content {
    width: 600px !important;
}

.his-login-form-logo {
    display: block;
    text-indent: -9999px;
    width: 100%;
    height: 110%;
    background-size: 100%;
    background: url(Icons/347.svg);
}

.his-login-form-logo-img {
    width: 100%;
    height: 100%;
    background-size: 100%;
}

}

.hiz-nav-panel {
    height: 100%;
    background: #ddd;
    border: 2px solid rgba(33, 33, 33, 0.9);
    width: 30%;
    padding: 10px;
    position: fixed;
    z-index: 1000;
    right: calc((30% - 20px) * -1);
    transition: right 500ms;
    position: absolute;
}

    .hiz-nav-panel.his-panelshow {
        right: 0px;
    }

.his-nav-button {
    width: 15px;
    height: 15px;
}

    .his-nav-button span {
        position: absolute;
        width: 15px;
        height: 2px;
        background: rgba(33, 33, 33, 0.9);
        float: left;
        transition: 200ms;
    }

        .his-nav-button span:nth-of-type(2) {
            transform: translateY(5px);
        }

        .his-nav-button span:nth-of-type(3) {
            transform: translateY(10px);
        }

.his-nav-button-close-span1 {
    transform: rotate(45deg) translate(0) !important;
}

.his-nav-button-close-span2 {
    width: 0 !important;
}

.his-nav-button-close-span3 {
    transform: rotate(-45deg) translate(0) !important;
}

.his-login-form-container-button {
    margin-top: 15px;
}

.his-href-button {
    color: blue;
    cursor: pointer;
}

    .his-href-button:hover {
        text-decoration: underline;
    }

.his-label-control {
    margin-top: 5px;
}

.his-table {
    width: 100%;
}

    .his-table td {
        padding: 8px;
    }

        .his-table td span {
            color: #8c8c8c;
            font-weight: bold;
            font-size: 14px;
        }

    .his-table .his-td-label {
        width: 1px;
        white-space: nowrap;
    }


