﻿/*.info{
    width:30px;
    height:25px;
    padding:0px !important;
    line-height:25px;
    text-align: center;
    float:right;
    background-color:#444 !important;
    color:white;
    border-radius:3px;
}*/
  
.webix_tree_item.webix_selected {
    background: #ffd47b;  
    border-bottom: -1px solid #ffd47b;
    box-shadow: 0 1px #ffe3a9 inset;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ffebc2),color-stop(100%,#ffdb8f))!important;
    background-image: -webkit-linear-gradient(#ffebc2,#ffdb8f)!important;
}

.his_state_base {
    text-align: center;
    font-weight: bold;
    float: right;
    border-radius: 5px;
    min-width: 100px;
    max-width: 200px;
    padding-right: 8px;
    padding-left: 8px;
    /*width: 100px;*/
}

.his_state_colour_green{
    background-color:#14892c;
    color:white;
}
.his_state_colour_blue{
    background-color:#4a6785;
    color:white;
}
.his_state_colour_red{
    background-color:#CC6A6A;
    color:white;
}

.webix_item_tab {
    white-space: nowrap;
}

/*breadcrumb*/
.panel_breadcrumb {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.breadcrumb {
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}


.breadcrumb a {
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    padding: 7px 0 7px 45px;
    line-height: 16px;
    background: #3ea9d9;
    position: relative;
    display: inline-block;
}

.breadcrumb a:after { 
	content: " "; 
	display: block; 
	width: 0; height: 0;
	border-top: 35px solid transparent;       
	border-bottom: 35px solid transparent;
	border-left: 30px solid #3ea9d9;
	position: absolute;

	top: 50%; left: 100%;
	z-index: 2; 
	margin-top: -35px; 
}

.breadcrumb a.nHomeCrumbItem {
      content: none;  
      padding-right:25px;
}
.breadcrumb a.nHomeCrumbItem:after {
    border-top: none; 
    border-bottom: none; 
}


.breadcrumb a:first-child {
    padding-left: 25px;
}

.breadcrumb a.n2       { background:#6ebfe3; }
.breadcrumb a.n2:after { border-left-color:#6ebfe3; }
.breadcrumb a.n3       { background:#93cfea; }
.breadcrumb a.n3:after { border-left-color:#93cfea; }
.breadcrumb a.n4       { background:#B1D9EB;}
.breadcrumb a.n4:after { border-left-color:#B1D9EB;}
.breadcrumb a.n5       { background:#B6E0F3; }
.breadcrumb a.n5:after { border-left-color:#B6E0F3;}

.breadcrumb a:hover { background:#4D7DBF; }
.breadcrumb a:hover:after { border-left-color:#4D7DBF !important; }
.breadcrumb_without_padding {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.webix_icon.webix_tab_close {
    font-size: 12px;
    float: none;
    padding: 4px;
    margin-top: -4px;
    margin-right: -16px;
}
/*
    правка отображения календаря
*/
.webix_hcell.webix_div_filter .webix_view.webix_control.webix_el_datepicker .webix_el_box {
    padding-top: 0 !important;
    height: 24px !important;
}
.webix_hcell.webix_div_filter .webix_view.webix_control.webix_el_datepicker span.fa-calendar {
    line-height: 15px;
    font-size: 16px;
    height: 18.5px !important;
    padding-left: 7px;
}

.webix_hcell.webix_div_filter .webix_view.webix_control.webix_el_datepicker .webix_el_box .webix_inp_static {
    line-height: 22px !important;
}


.webix_el_search.protoUi-with-icons-1 div.webix_el_box input
{
    padding-right: 26px;
}

.webix_el_search.protoUi-with-icons-2 div.webix_el_box input,
.webix_view.webix_control.webix_el_search.protoUI-with-icons-2 div.webix_el_box input {
    padding-right: 52px;
}

.webix_el_search.protoUi-with-icons-3 div.webix_el_box input,
.webix_view.webix_control.webix_el_search.protoUI-with-icons-3 div.webix_el_box input {
    padding-right: 78px;
}

.webix_el_search.protoUi-with-icons-4 div.webix_el_box input,
.webix_view.webix_control.webix_el_search.protoUI-with-icons-4 div.webix_el_box input {
    padding-right: 104px;
}
/*
    отключил показ очистки в ie
*/
::-ms-clear {
    display: none;
}


.webix_ss_footer div .webix_hcell{
    font-weight:bold;
}

label.behavior-as-anchor {
    color: #1D67A4;
}

label.behavior-as-anchor:hover {
    text-decoration: underline;
    cursor: pointer;
}

.webix_modal_box.webix_alert-error .webix_popup_title{
    box-shadow: 0 0 3px 3px red;
    -moz-box-shadow: 0 0 3px 3px red;
    -webkit-box-shadow: 0 0 3px 3px red;
}


.webix_list.warning-message-list .webix_scroll_cont .webix_list_item {
    height: auto !important;
    min-height: 50px !important;
    border: none !important;
}
.warning-message-error-block {
    background-color: #F7F4E8;
    background-image: url(../icons/note.gif);
    background-repeat: no-repeat;
    background-position: 12px center;
    border: 1px solid #DFCA89;
    padding-left: 60px;
    margin: 5px;
    min-height: 50px;
    height: auto;
    margin-bottom: 0;
}
.warning-message-error-block .title {
    padding-top: 13px;
    padding-bottom: 10px;
    text-align: inherit;
}



.webix_view.webix_control.webix_el_text.webix_dt_editor {
    margin: 0;
    padding: 0;
}
.webix_view.webix_control.webix_el_text.webix_dt_editor div.webix_el_box {
    margin: 0;
    padding: 0;
    height: 26px;
    width:auto;
}
.webix_view.webix_control.webix_el_text.webix_dt_editor div.webix_el_box input {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.textarea_view_control textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    font-weight: bold
}



/*
    Дерево : модуль элементы
*/
.tree-without-padding {
    margin: 0;
    padding: 0;
}
.tree-without-padding .webix_scroll_cont.webix_template {
    margin: 0;
    padding: 0;
}

.rs_elements_tree .treeItem {
    width: 100%;
    float: left;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
}

    .rs_elements_tree .treeItem.selected {
        background-size: 100% 100% !important;
        background-position: 0 0 !important;
        color: #1e2022;
        background: #ffdb8f;
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ffebc2),color-stop(100%,#ffdb8f)) !important;
        background-image: -webkit-linear-gradient(#ffebc2,#ffdb8f) !important;
        background-image: -moz-linear-gradient(#ffebc2,#ffdb8f) !important;
        background-image: -ms-linear-gradient(top,#ffebc2,#ffdb8f) !important;
        background-image: -o-linear-gradient(top,#ffebc2,#ffdb8f) !important;
        border-bottom: 1px solid #ffd47b;
        border-right: 1px solid #ffd47b;
    }

.treeItem .tree_icon,
.treeItem .skipTree,
.treeItem .tree_info {
    float: left; 
}
.treeItem .skipTree {
    width: 20px;
    min-height: 5px;
    height: auto;
}
.treeItem .tree_icon .webix_tree_file {
    width: 18px;
    height: 18px;
}

.contract_marker_redefained input {
    font-style: italic;
}
